body{
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    z-index: 100;
    margin: 0%;
    background-color: rgb(192, 181, 154);
    text-align: center;
    height: 3em;
    font-family: 'Architects Daughter', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
 
}

header a{
    text-decoration: none;
    color: black;
    display: flex;
    
}
#aside{
    padding: 5%;
    margin-bottom: 2%;
    background-image: url(image/plume_beige.jpg);
    background-position: center;
}
#footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(192, 181, 154);
    height: 3em;
    font-size: 1.2rem;
    font-family: 'Architects Daughter', cursive;
}
#choice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
